* {
	    margin: 0;
	    padding: 0;
	}
	body {
	    min-width: 200px;
	}
	ul li{
		display: block;
		font-size: 16px;
		color: #333;
		padding: 10px 0px 10px 10px;
	}
	input.normal{
		outline: none;
		border: 1px solid #ccc;
		padding: 5px 10px;
		border-radius: 10px;
		width: 138px;
	}
	.login{
		background-color: #c697f3;
		margin: 0 auto;
		border: none;
		border-radius: 10px;
		color: #fff;
	    width: 180px;
    	height: 35px;
		outline: none;
		cursor: pointer;
	}
	.radio{
		margin-right: 5px;
	}
	.radio:last-child{
		margin-right: 0;
	}
	input[type=radio]{
		margin-right: 5px;
		cursor: pointer;
	}
	.warn{
		display: none;
		font-size: 16px;
		text-align: center;
		color: rgb(94,62,4);
		border-top: 1px solid rgba(94,62,4,.5);
		background-color: rgb(255,251,230);
	}